spring:
  datasource:
    driverClassName: net.sf.log4jdbc.DriverSpy
    #driverClassName: com.mysql.jdbc.Driver
    # jdbc:mysql://
    url: jdbc:log4jdbc:mysql://47.98.113.27:3306/test?autoReconnect=true&useUnicode=true&characterEncoding=utf-8&zeroDateTimeBehavior=convertToNull&useSSL=false
    username: admin
    password: 7DdScvY3Xu0fovGW
    filters: stat
    maxActive: 50
    initialSize: 5
    maxWait: 60000
    minIdle: 5
    maxIdle: 20
    timeBetweenEvictionRunsMillis: 60000
    minEvictableIdleTimeMillis: 1200000
    validationQuery: select 2
    testWhileIdle: true
    testOnBorrow: false
    testOnReturn: false
  ###文件上传限制
  http:
    multipart:
      maxFileSize: 100Mb
      maxRequestSize: 100Mb
  redis:
    host: 115.159.214.69
    port: 46379
    password: 123456
    pool:
      # 连接池中的最大空闲连接
      max-active: 200
      # 连接池中的最大空闲连接
      max-idle: 10
      # 连接池中的最小空闲连接
      min-idle: 1
      # 连接池最大阻塞等待时间
      max-wait: -1
  freemarker:
    allow-request-override: false
    allow-session-override: false
    check-template-location: true
    expose-session-attributes: false
    content-type: text/html
    expose-request-attributes: false
    enabled: true
    charset: UTF-8
    cache: false
    template-loader-path: classpath:/templates
    suffix: .ftl
    request-context-attribute: request
  mvc:
    static-path-pattern: /static/**

